# This is a template gitconfig. Personal information should be added in ~/.gitconfig.local
[core]
	editor = vim
	pager = delta
	quotepath = false
	excludesfile = ~/.git-template/gitignore
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	d = diff
[merge]
	conflictstyle = zdiff3
	tool = vimdiff
[mergetool]
	prompt = false
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	grep = auto
[init]
	defaultBranch = main
	templateDir = ~/.git-template
[user]
	useConfigOnly = true
[commit]
	template = ~/.git-template/commit-template
[fetch]
	prune = true
[pull]
	ff = only
	rebase = false
[push]
	default = current
	autoSetupRemote = true
[rebase]
	autoStash = false
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	line-numbers = true
[rerere]
	enabled = true
	autoUpdate = false
# Local settings take precedence over shared defaults.
[include]
    path = ~/.gitconfig.local
